@{
    ViewData["Title"] = "Registration Error";
    if (User.IsInRole("admin"))
    {
        Layout = "_AdminLayout";
    }
}

<h1 class="text-center text-danger">Registration Error</h1>
<p class="text-center text-danger">Something went wrong when trying to register you. <a asp-action="Index" class="btn btn-outline-@(User.IsInRole("admin") ? "light" : "dark")">Back</a></p>